<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="row mt100">
    <div class="col-md-12">
        <div class="alert alert-danger text-center font-weight-bold alert_trx" role="alert">
            <i class="fal fa-times-circle"></i> Hey, something went wrong with your transaction
        </div>
    </div>
</div>

<div class="row mt100">
    <div class="col-md-12 text-center">
        <button class="btn btn-lg btn-tkm nav-btn" data-page="logged_home_page">Go to Home</button>
        <button class="btn btn-lg btn-tkm nav-btn" data-page="logged_pay_section">Go to Pay section</button>
        <button class="btn btn-lg btn-tkm nav-btn" data-page="logged_blob_file">Go to Upload File section</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.nav-btn').on('click', function () {
            goToPage($(this).attr('data-page'));
        });
    });
</script>