<div class= "row mt20">

    <div class="col-md-12 text-center">
        <h3>Features Page</h3>
    </div>
    <div class="col-md-4">
        <button class="btn btn-lg btn-outline-dark"> <i class="fal fa-coins"></i> Pay</button>
    </div>

    <div class="col-md-4">
        <button class="btn btn-lg btn-outline-dark"><i class="fal fa-handshake"></i> Stake</button>
    </div>

    <div class="col-md-4">
        <button class="btn btn-lg btn-outline-dark"><i class="fab fa-wpexplorer"></i> Explorer</button>
    </div>

</div>
