<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="row mt20 text-center">
    <div class="col-md-12 text-center">
        <span class="section-title">Receive Tokens</span>
    </div>
    <div class="col-md-12">
        <hr/>
        <br/>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col">
                <label>Kind of Token</label>
            </div>
            <div class="col">
                <span class="token-type"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Amount of tokens required</label>
            </div>
            <div class="col">
                <span class="token-amount"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Kind of request</label>
            </div>
            <div class="col">
                <span class="request-type"></span>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <br/>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle margin0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a Token</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item tkr-opt" href="#">TKR</a>
                        <a class="dropdown-item tkg-opt" href="#">TKG</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <br/>
    </div>
    
    <div class="col-md-12">
        <textarea placeholder="Insert here a message for recipient" class="receive-msg form-control no-resize"></textarea>
    </div>
    
    <div class="col-md-12">
        <br/>
        <br/>
    </div>
    
    <div class="col-md-12 text-center">
        <div class="qr-code-container">
            <span>Qr Code</span>
        </div>
    </div>
    
</div>