<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row mt20">
    <div class="col-md-12 text-center">
        <span class="section-title">Blob - File</span>
    </div>
    <div class="col-md-12">
        <hr/>
        <br/>
    </div>
    <div class="col">
        <form id="new-upload-file-form">
            <div class="form-group">
                <label id="labelFromAddr" for="fromAddr">
                    <b>From</b> <span class="error hidden"></span>    
                </label>
                <div class="row">
                    <div class="col-md-2">
                        <img id="fromAddrIdenticon" width="128" src=""/>
                    </div>
                    <div class="col-md-10">
                        <textarea readonly name="fromAddr" id="fromAddr" data-label-ref="labelFromAddr" class="form-control check-form-field not-empty" style="resize: none; height:128px"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="row">
                    <div class="col text-right">
                        <button class="btn btn-primary upload-btn"><i class="fal fa-cloud-upload"></i> Upload</button>
                    </div>
                    <div class="col">
                        <input type="file" id="fileupload" style="display:none"/> 
                        <textarea readonly class="form-control mimetype-area"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="form-group tags-area">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control tag-input" placeholder="Enter here tags!"/>
                    </div>
                    <div class="col-md-12 mt20">
                        <label>Tag section</label>
                    </div>
                    <div class="col-md-11 tags-container">
                        <div class="single-tag">ciao</div>
                        <div class="single-tag">asd</div>
                        <div class="single-tag">sdf</div>
                        <div class="single-tag">fgh</div>
                        <div class="single-tag">qwe</div>
                        <div class="single-tag">sdf</div>
                    </div>
                </div>
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header text-center collapse-section font-weight-bold" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                        <i class="fal fa-arrows-v"></i>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group text-center">
                                <label for="message">
                                    <b>Transaction json</b>    
                                </label>
                                <div class="row">
                                    <div class="col">
                                        <textarea name="trxJson" id="trxJson" class="form-control" style="resize: none; height:128px"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <label for="trxCost" class="font-weight-bold">
                                        Transaction cost
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <div id="trxCost" class="alert alert-success text-center" role="alert">
                                        <span class="font-weight-bold">N/A</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <br/>
                    <br/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 text-left">
                    <button class="btn btn-secondary nav-btn" data-page="logged_home_page">Back</button>
                </div>
                <div class="col-md-4 text-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-secondary mr-2 font-weight-bold verify-btn">Verify</button>
                        <button type="submit" disabled="disabled" class="btn btn-primary submit-button font-weight-bold">Submit</button>
                    </div>
                </div>
            </div>


        </form>

        <br/>
        <hr/>
        <div class="alert alert-primary address-result-container hidden" role="alert">
            Your address is: <b><span class="address-result"></span></b>
        </div>

    </div>


</div>

<script>



    $(document).ready(function () {

        $('.form-control').on('change', function () {
            resetFieldsError($(this));
        });
        
        $('.upload-btn').click(function(e) {
            e.preventDefault();
            console.log('a');
            $('#fileupload').trigger('click'); 
        });
        
        $('#fileupload').on('change', function() {
            var fd = new FormData();
            var files = $(this)[0].files;
        });


        $('.verify-btn').on('click', function (e) {
            e.preventDefault();
            if (!checkFields(true)) {
                return false;
            }

            window.signedResponseBean['request']['itb'] = {};
            fillPayItb(
                    $('#fromAddr').val(),
                    $('#toAddr').val(),
                    $('#message').val(),
                    new Date(),
                    $('#tkrVal').val() * Math.pow(10, 9),
                    $('#tkgVal').val() * Math.pow(10, 9),
                    'PAY',
                    null,
                    null,
                    null);

            window.signedResponseBean['request']['rt'] = 'PAY';
            $.ajax({
                headers: {
                    'Content-Type': "application/json"
                },
                type: 'POST',
                url: 'http://localhost:8080/'+window.webappname+'/resources/javaee8/signedRequest',
                contentType: "application/json",
                data: JSON.stringify(window.signedResponseBean['request']),
                success: function (dataRes) {
                    console.log(dataRes);
                    $('.collapse-section').trigger('click');
                    $('#trxCost').html('<b>CPU: ' + dataRes['feeBean']['cpu'] / Math.pow(10, 9) + ' MEM: ' + dataRes['feeBean']['memory'] / Math.pow(10, 9) + ' DISK: ' + dataRes['feeBean']['disk'] / Math.pow(10, 9) + '</b>');
                    $('#trxJson').val(dataRes['trxJson']);
                    window.signedResponseBean['request']['trxJson'] = dataRes['trxJson'];
                    $('.submit-button').prop('disabled', false);
                }
            });
        });

        $('#new-pay-form').submit(function(e) {
            e.preventDefault();
            window.signedResponseBean['request']['rt'] = 'SEND_TRX';
            $.ajax({
                headers: {
                    'Content-Type': "application/json"
                },
                type: 'POST',
                url: 'http://localhost:8080/'+window.webappname+'/resources/javaee8/signedRequest',
                contentType: "application/json",
                data: JSON.stringify(window.signedResponseBean['request']),
                beforeSend: function() {
                    $('.page').html('<div class="loading-container"><img src="static/images/loading.gif" alt=""/></div');
                },
                success: function () {
                    goToPage('success_transaction');
                },
                error: function() {
                    goToPage('failed_transaction');
                }
            });
        });

        $('.nav-btn').on('click', function () {
            goToPage($(this).attr('data-page'));
        });

        $('#fromAddrIdenticon').attr('src', $('#wallet-identicon').attr('src'));
        $('#fromAddr').val($('#wallet-address').html());
        $('#toAddr').on('change', function () {
            console.log($(this).val());
            window.signedResponseBean['passedData'] = $(this).val();
            $.ajax({
                headers: {
                    'Content-Type': "application/json"
                },
                type: 'POST',
                url: 'http://localhost:8080/'+window.webappname+'/resources/javaee8/getWalletIdenticon',
                contentType: "application/json",
                data: JSON.stringify(window.signedResponseBean),
                success: function (dataRes) {
                    $('#toAddrIdenticon').attr('src', 'data:image/png;base64, ' + dataRes['identiconUrlBase64']);
                }
            });
        });
    });
</script>