<div class= "row mt20 main-logged-menu">

    <div class="col-md-12 text-center">
        <span class="section-title">Features Page</span>
    </div>
    <div class="col-md-12">
        <hr/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="col-md-4 text-center main-btn-container">
        <button type="button" class="btn btn-tkm first nav-btn" data-page="logged_pay_section"><i class="fal fa-paper-plane"></i> <span>Send tokens</span></button>
        <button type="button" class="btn btn-tkm"><i class="fal fa-hand-holding-usd"></i> <span>Receive</span> </button>
        <button type="button" class="btn btn-tkm"><i class="fal fa-coins"></i> <span>Balance</span> </button>
    </div>
    
    <div class="col"></div>
        
    <div class="col-md-2 text-center main-btn-container">
        <button type="button" class="btn btn-tkm middle first nav-btn" data-page="logged_pay_section"><i class="fal fa-handshake"></i> <span>Stake</span></button>
        <button type="button" class="btn btn-tkm middle nav-btn" data-page="logged_explorer_page"><i class="fab fa-wpexplorer"></i> <span>Explorer</span> </button>
    </div>
    
    <div class="col"></div>
    
    <div class="col-md-4 text-center main-btn-container">
        <button type="button" class="btn btn-tkm first nav-btn" data-page="logged_blob_text"><i class="fal fa-file-alt"></i> <span>Rich Text</span></button>
        <button type="button" class="btn btn-tkm nav-btn" data-page="logged_blob_file"><i class="fal fa-file"></i> <span>Generic file</span> </button>
        <button type="button" class="btn btn-tkm nav-btn" data-page="logged_blob_hash"><i class="fal fa-barcode-alt"></i> <span>Hash file</span> </button>
    </div>
    
</div>
<div class="col-md-12">
    <br>              
</div>


<script>
    $(document).ready(function () {
        $('.nav-btn').on('click', function () {
            goToPage($(this).attr('data-page'));
        });
    });
</script>