<div class= "row mt20 main-logged-menu">

    <div class="col-md-12 text-center">
        <span class="section-title">Features Page</span>
    </div>
    <div class="col-md-12">
        <hr/>
        <br/>
    </div>
    <div class="col-md-4 text-center">
        <button class="btn btn-xlg btn-outline-dark"><i class="fal fa-coins"></i> Pay </button>
    </div>

    <div class="col-md-4 text-center">
        <button class="btn btn-xlg btn-outline-dark"><i class="fal fa-handshake"></i> Stake</button>
    </div>

    <div class="col-md-4 text-center">
        <button class="btn btn-xlg btn-outline-dark"><i class="fab fa-wpexplorer"></i> Explorer</button>
    </div>

</div>
<div class="col-md-12">
    <br>              
</div>
<div class ="row mt20 main-logged-menu" >
    <div class="col-md-6 text-center">
        <button class="btn btn-xlg btn-outline-dark nav-btn" data-page="test_signed_request"> <i class="fal fa-wallet"></i> New login </button>
    </div>


    <div class="col-md-6 text-center">

        <button class="btn btn-xlg btn-outline-dark"> <i class="fal fa-cloud-upload-alt"></i> Text & Files </button>
    </div>

    <div class="col-md-12">
        <br>   
        <hr>           
    </div>

</div>


<script>
    $(document).ready(function () {
        $('.nav-btn').on('click', function () {
            goToPage($(this).attr('data-page'));
        });
    });
</script>