<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="row mt20 text-center">
    <div class="col-md-12 text-center">
        <span class="section-title">Receive Tokens</span>
    </div>
    <div class="col-md-12">
        <hr/>
        <br/>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col text-left">
                <label>Kind of Token</label>
            </div>
            <div class="col">
                <span class="token-type"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <label>Amount of Tokens</label>
            </div>
            <div class="col">
                <span class="token-amount"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <label>Kind of Request</label>
            </div>
            <div class="col">
                <span class="request-type"></span>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <br/>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <select class="form-control tokens-type-input">
                    <option selected="selected">Select</option>
                    <option value="tkr">TKR</option>
                    <option value="tkg">TKG</option>
                </select>
            </div>
            <div class="col-md-10">
                <input type="number" placeholder="Token amount" class="form-control check-form-field not-empty is-integer tokens-amount-input" aria-label="Text input with dropdown button">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <br/>
    </div>

    <div class="col-md-12">
        <textarea placeholder="Insert here a message for recipient" class="receive-msg form-control no-resize"></textarea>
    </div>

    <div class="col-md-12">
        <br/>
        <br/>
    </div>

    <div class="col-md-12 text-center">
        <div class="qr-code-container">
            <span>Qr Code</span>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10 text-left">
                <button class="btn btn-secondary nav-btn" data-page="logged_home_page">Back</button>
            </div>

            <div class="col-md-2 text-right">
                <button class="btn btn-primary font-weight-bold" type="button" id="createQrCode">
                    <i class="fal fa-qrcode"></i> Create QR
                </button>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('.request-type').html(window.signedResponseBean['request']['wallet']['walletCypher']);
        $('.nav-btn').on('click', function () {
            if ($(this).hasClass('home') && $('#wallet-address').html() === '') {
                $.alert({
                    title: 'Hi there!',
                    type: 'blue',
                    content: 'First login to your wallet !'
                });
                return false;
            }
            goToPage($(this).attr('data-page'));
        });

        $('input').on('change', function () {
            resetFieldsError($(this));
        });

        $('#createQrCode').submit(function (e) {
            e.preventDefault();

            if (!checkFields(false)) {
                return false;
            }
        });

        $('.tokens-type-input').on('change', function () {
            if ($(this).val() === 'tkr') {
                $('.token-type').html('<span class="dot red"></span>');
            } else if ($(this).val() === 'tkg') {
                $('.token-type').html('<span class="dot green"></span>');
            }
        });

        $('.tokens-amount-input').on('change', function () {
            if ($(this).val() > 0) {
                $('.token-amount').html($(this).val());
            }
        });
    });

</script>