<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row mt20">
    <div class="col-md-12 text-center">
        <span class="section-title">Dashboard Campaign</span>
    </div>

    <div class="col-md-12">
        <ul class="messages-list new-messages-list">
            <li>
                <div class="address">MV7ag5Iw8ez2ZS0t-EZxMYNuhM_Fn7amEuB5JJgDgL0.</div>
                <span class="amount">200 TKR</span>
                <span class="message-content">W i gatti verdi!</span> 
                <button class="btn btn-sm btn-success"><i class="far fa-thumbs-up"></i></button> 
                <button class="btn btn-sm btn-warning white"><i class="far fa-thumbs-down"></i></button>
                <button class="btn btn-sm btn-danger white"><i class="fas fa-ban"></i></button>
            </li>
            <li>
                <div class="address">Q7S7-WubFb4AgbGJYNTg2Sr3bB5a9kjZfp1hIgVnJS8.</div>
                <span class="amount">1 TKR</span>
                <span class="message-content">W i gatti verdi poverini</span> 
                <button class="btn btn-sm btn-success"><i class="far fa-thumbs-up"></i></button> 
                <button class="btn btn-sm btn-warning white"><i class="far fa-thumbs-down"></i></button>
                <button class="btn btn-sm btn-danger white"><i class="fas fa-ban"></i></button>
            </li>
            <li>
                <div class="address">uhPgLtlK3sJvEJw1lcMJI07kU2UXx5ZXfOI8VoPUvWc.</div> 
                <span class="amount">22 TKR</span>
                <span class="message-content">W i gatti dio caro!</span>
                <button class="btn btn-sm btn-success"><i class="far fa-thumbs-up"></i></button> 
                <button class="btn btn-sm btn-warning white"><i class="far fa-thumbs-down"></i></button>
                <button class="btn btn-sm btn-danger white"><i class="fas fa-ban"></i></button>
            </li>
            <li>
                <div class="address">w7WzM1RqEN_HmbvDF_eO9ytZi07ql1oDxhlwimGfU4g.</div>
                <span class="amount">324 TKR</span>
                <span class="message-content">W i gatti!</span>
                <button class="btn btn-sm btn-success"><i class="far fa-thumbs-up"></i></button> 
                <button class="btn btn-sm btn-warning white"><i class="far fa-thumbs-down"></i></button>
                <button class="btn btn-sm btn-danger white"><i class="fas fa-ban"></i></button>
            </li>
        </ul>
    </div>

    <div class="col-md-12">
        <hr>
    </div>

    <div class="col-md-6 nopadding">
        <p class="text-center font-weight-bold">Approved messages</p>
        <ul class="messages-list approved-messages-list">
            <li>
                <div class="address bg-success">PVSGc9J_UoA4LLPzSwvF0bvluvssGcMmtQC9sznqbRc.</div>
            </li>
            <li>
                <div class="address bg-success">w34FgWqhz_YdVm6fNC9CBIn7kLMdhNZmHIEqzFm1ThQ.</div>
            </li>
            <li>
                <div class="address bg-success">EjtLSMUuQ2_7eLKp3_m_8iyc5G6AQIXVPdws7g7bS6Y.</div>
            </li>
        </ul>
    </div>

    <div class="col-md-6 nopadding">
        <p class="text-center font-weight-bold">Rejected messages</p>
        <ul class="messages-list rejected-messages-list">
            <li>
                <div class="address bg-warning">OSmyEcXaqdVpqCZ0DpJhit9QL6MlruN4Ik8We5PmUik.</div>
            </li>
        </ul>
    </div>


</div>

<script>

    $(document).ready(function () {
        window.signedResponseBean['request']['itb'] = {};
        fillItb(
                $('#fromAddr').val(),
                null,
                null,
                new Date(),
                null,
                null,
                'BLOB',
                null,
                null,
                null);


        window.signedResponseBean['request']['rt'] = 'CREATE_CAMPAIGN';

        $.ajax({
            headers: {
                'Content-Type': "application/json"
            },
            type: 'POST',
            url: window.webappname + '/resources/javaee8/signedRequest',
            contentType: "application/json",
            data: JSON.stringify(window.signedResponseBean['request']),
            success: function (dataRes) {
                alert('Campaign created succesfully!');
            }
        });
    });
</script>