<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="row mt20">
    <div class="col-md-12 text-center">

        <span class="section-title "> Stake section </span>

    </div>
    <div class="col-md-12">
        <br/>
        <hr/>
    </div>
    <div class="col">
        
        <form>
            
        </form>
 
        <ul class="list-style-none">
                <li>
                    <div class="form-group-node">
                        <label id="labelNodeAddr" for="nodeAddr">
                            <b> Node NAME </b> <span class="error hidden"></span>
                        </label>
                        <div class="row"> 
                            <div class="col-md-2"> 
                                <img id="nodeAddrIdenticon" width="128" src=""/>
                            </div>
                            <div class="col-md-10"> 
                                <textarea readonly name="nodeAddr" id="nodeAddr" data-label-ref="labelNodeAddr" class="form-control check-form-field not-empty" style="resize:none; height:128px"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <label id="labelNodeBookmark"> 
                                    <b> EXAMPLE here goes the bookmark address of the Node address once calculated </b>
                                </label>                                              
                            </div>
                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary mr-2 font-weight-bold verify-btn"> Aim on this Node </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br/>
                        <hr/>
                    </div>
                </li>
                <li>
                    
                </li>


            </ul>

    </div>


</div>